@import "tailwindcss";

:root {
  --color-primary: #4f46e5; 
  --color-secondary: #10b981; 
  --color-text-dark: #1f2937; 
  --color-bg-light: #f9fafb; 
}

body {
  background-color: var(--color-bg-light); 
  font-family: 'Inter', sans-serif; 
}


.btn-primary {
  @apply px-6 py-3 rounded-full text-white font-semibold transition duration-150 shadow-md;
  background-color: var(--color-primary);
}
.btn-primary:hover {
  filter: brightness(1.1);
}